/*
 * For images (avatars, smileys, logos)
 *
 * Для изображений (аватарки, смайлкики, логотипы)
 */

h1.logo {
    width: 146px;
    height: 21px;
    text-indent: -9999px;
    background: url(/logo.svg);
    background-size: 146px 21px;
    margin: 0;
}

.favicons {
  height: 16px;
  width: 16px;
}

.img-sm {
  width: 24px;
  height: 24px;
}

.img-base {
  width: 36px;
  height: 36px;
}

.img-lg {
  width: 64px;
  height: 64px;
}

.img-xl {
  width: 94px;
  height: 94px;
}

.img-2xl {
  width: 160px;
  height: 160px;
}

.trigger img.img-base:hover {
  opacity: 0.7;
}

.box-cover-img {
  height: 200px;
  width: 100%;
}

.img-preview {
  max-width: 780px;
  position: relative;
}

.img-preview img {
  max-width: 100%;
  border: 1px solid #f3f3f3;
}
