/*
 * @media styles
 *
 * Медиа-запросы
 */

@media (max-width: 880px) {
	article img {
	  width: 100%;	
	}
}

@media (max-width: 480px) {

	.box {
	  margin: 0;
	}
	
	#contentWrapper {
	  padding-left: 0.6rem;
	  padding-right: 0.6rem;
	}
	
	.mb-none  {
	  display: none;
    }
	
	.item-categories {
	  padding: 5px 0 10px 0;
	  margin-bottom: 5px;
	}
	
	.categories-telo {
		width: 100%;
		margin-bottom: 15px;
	}
	
	.categories-telo div {
		display: none;
	}
}