/*
 * @media styles
 *
 * Медиа-запросы
 */

@media (max-width: 480px) {

	.box {
	  margin: 0;
	}
	
	#contentWrapper {
	  padding-left: 0.6rem;
	  padding-right: 0.6rem;
	}
	
	.mb-none  {
	  display: none;
    }
}